
body {
    padding-bottom: 60px; /* Adjust according to footer height */
}


/* Ensure full height */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* Push footer down */
.main-content {
    flex: 1; /* Takes up available space */
}

/* Footer Styling */
.site-footer {
    position: relative;
    background-color: #333;
    color: white;
    padding: 20px;
    z-index: 1000;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
}



.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
    text-align: center;
}

/* Left Section */
.footer-left {
    max-width: 300px;
}

.footer-logo {
    width: 80px;
    margin-bottom: 10px;
}

/* Links Section */
.footer-links h3,
.footer-social h3 {
    font-size: 18px;
    margin-bottom: 15px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li {
    margin: 5px 0;
}

.footer-links ul li a {
    color: #ccc;
    text-decoration: none;
    transition: color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-links ul li a:hover {
    color: aqua;
    text-decoration: underline;
    text-shadow: 0px 0px 10px #71b3fe, 0px 0px 20px #71b3fe; 
}

/* Social Media Section */
.footer-social ul {
    list-style: none;
    /* padding: 0; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.footer-social ul li {
    display: flex;
    align-items: center;
    margin: 0 ;
    padding: 0 ;
}

.footer-social ul li a img {
    width: 30px;
    height: 30px;
    /* vertical-align: middle; */
    display: block;
   
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
}


 .footer-social ul li a img:hover {
    transform: scale(1.2);
}
.footer-social ul li a{
        color: #22f7c2;
        font-weight: bold; 
        transition: color 0.3s ease, text-shadow 0.3s ease;
        font-size: 16px;
}
.footer-social ul li a:hover{
    color: #71b3fe; /* Change the color on hover */
  text-shadow: 0px 0px 10px #71b3fe, 0px 0px 20px #71b3fe, 0px 0px 30px #71b3fe; /* Enhanced glow */
  
}
/* Bottom Footer */
.footer-bottom {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background: #000;
    font-size: 14px;
}
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }
}
