.dark-theme {
  background-color: #000000;
  color: #ffffff;
}

.dark-theme .login-container {
  background-color: #444;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dark-theme .input-group input {
  background-color: #555;
  border: 1px solid #777;
  color: white;
}

.dark-theme button {
  background-color: #555;
}

.dark-theme button:hover {
  background-color: #777;
}





.light-theme .sidebar ul li{
color: #ffffff;
}
.light-theme .back-button{
  background-color: #434040;
  color: white;
}
.dark-theme .back-button{
  background-color: #434040;
  color: white;
}
.light-theme .code{
  color: rgb(255, 255, 255);
}
.dark-theme .input__button__shadow{
  cursor: pointer;
  border: 3px solid #000;
  background: #e9b50b;
  transition: all 400ms cubic-bezier(0.23, 1, 0.32, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  transform: translateZ(20px);
  position: relative;
  z-index: 3;
  font-weight: bold;
  text-transform: uppercase;
}
.dark-theme .input__button__shadow:hover{
  background: #e9b50b;
  
}
.dark-theme .btn {
  --bg: #e74c3c;
  --text-color: #fff;
  position: relative;
  width: 150px;
  border: none;
  background: var(--bg);
  color: var(--text-color);
  padding: 1em;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.2s;
  border-radius: 5px;
  opacity: 0.8;
  letter-spacing: 1px;
  box-shadow: #c0392b 0px 7px 2px, #000 0px 8px 5px;
}
.dark-theme .btn:hover {
  opacity: 1;
  background-color: #e74c3c;
}

.dark-theme .btn:active {
  top: 4px;
  background-color: #e74c3c;
  box-shadow: #c0392b 0px 3px 2px,#000 0px 3px 5px;
}




.dark-theme .b {
  background: #66ff66;
  color: ghostwhite;
 }
.dark-theme   .b:hover{
  color: black;
  background-color: #66ff66;
}
 
 


/* Dark theme button styling */
.theme-switch__checkbox:checked + .theme-switch__container {
    background-color: #333;
}

/* Light theme button styling */
body.light-theme .theme-switch__checkbox:checked + .theme-switch__container {
    background-color: #fff;
}

/* Add transitions for smooth theme change */
.theme-switch__container {
    transition: background-color 0.3s ease;
}


body.light-theme {
   background-color: #a89e54;
   color: #333333;
   }




body.light-theme .form {
  background-color: #a89e54;
  color: #000000;
  -o-border-image: linear-gradient(transparent, rgb(0, 0, 0), transparent) 1;/*to change the colour of the side lines*/
  border-image: linear-gradient(transparent, rgb(0, 0, 0), transparent) 1;
 
  background: radial-gradient(
    100% 61.73% at 100% 50%,
    #a89e54 0%,
    transparent 100%
  ),
  radial-gradient(
    91.09% 56.23% at 0% 50%,
    #a89e54 0%,
    transparent 100%
  );
}
body.light-theme .form .title{
  /*background: rgb(240, 52, 52);*/
  background: transparent;
  color: transparent;
  color: #302746;
   
}

body.light-theme .input-container{/*the shade under the input*/
    background: radial-gradient(
      47.3% 73.08% at 50% 94.23%,
      rgba(187, 199, 199, 0.603) 5%,
      rgba(255, 255, 255, 0) 100%
    );
    border: 1px solid transparent;
    border-image: radial-gradient(
        circle,
        rgba(187, 199, 199, 0.603) 0%,
        rgba(228, 228, 228, 0) 100%
      ) 1;
  
  
}
body.light-theme .input-container {
   background: radial-gradient(circle, rgba(0, 121, 242, 0.5), transparent 100%); 
   border: transparent;
   outline: none;
}
body.light-theme  .input-container .input {
  background: transparent;
  border: none;
  outline: none;
  padding: 15px;
  color: rgb(0, 0, 0);/*when you type in other input the collour of the other input*/
}

body.light-theme  .input-container .input:focus {
  outline: none;
  color:rgb(0, 0, 0); /*the colour of text when you type it*/
}

body.light-theme .form .login-button::before {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  background-image: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.3764705882) 0.5px,
    transparent 0.5px
  );
  background-size: 0.1px 3px;
  mix-blend-mode: soft-light;
  -webkit-mask-image: radial-gradient(
      40% 45% at 100% 50%,
      rgb(0, 0, 0) 50%,
      transparent 100%
    ),
    radial-gradient(40% 45% at 0% 50%, rgb(0, 0, 0) 50%, transparent 100%);
  mask-image: radial-gradient(40% 45% at 100% 50%, rgb(0, 0, 0) 50%, transparent 100%),
    radial-gradient(40% 45% at 0% 50%, rgb(0, 0, 0) 50%, transparent 100%);
}
body.light-theme .form .login-button:hover {
  animation: flicker 0.5s infinite;
  width: 105%;

}
@keyframes flicker {
  0% {
    filter: brightness(100%);
  }
  10% {
    filter: brightness(80%);
  }
  20% {
    filter: brightness(120%);
  }
  30% {
    filter: brightness(90%);
  }
  40% {
    filter: brightness(110%);
  }
  50% {
    filter: brightness(100%);
  }
  60% {
    filter: brightness(85%);
  }
  70% {
    filter: brightness(95%);
  }
  80% {
    filter: brightness(105%);
  }
  90% {
    filter: brightness(115%);
  }
  100% {
    filter: brightness(100%);
  }
}

body.light-theme .input-container .input {
  border:transparent; 
}


body.light-theme  .form .login-button .input {
  background: radial-gradient(
      100% 45% at 100% 50%,
      rgba(255, 224, 166, 0.084) 0%,
      rgba(115, 115, 115, 0) 100%
    ),
    radial-gradient(
      100% 45% at 0% 50%,
      rgba(255, 224, 166, 0.084) 0%,
      rgba(115, 115, 115, 0) 100%
    );
  border-image: linear-gradient(transparent, #000000, transparent) 1;
  color: #302746;                            /*the colour of the button name*/
}

body.light-theme .input::placeholder {
  color: #302746;
}

body.light-theme .form .login-button::before {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  background-image: linear-gradient(
    0deg,
    #c0a451 0.5px,
    transparent 0.5px)
}










body.light-theme .texture{
  position: absolute;
  background-image: linear-gradient(1deg, #131212 1px, transparent 1px);/*to change the colour of the moving lines*/
  background-size: 1px 5px;
  background-color: #8d8549;
  inset: 0;
  mix-blend-mode: normal;
  mask-image: radial-gradient(30% 45% at 100% 50%, white 0%, transparent 100%),
    radial-gradient(30% 45% at 0% 50%, white 0%, transparent 100%);
  pointer-events: none;
  animation: movingLines 1s linear infinite;
}

@keyframes movingLines {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 5px;
  }
} 









 body.light-theme .forgot-password{
  color:  #000000; /*the colour of forgot password*/
}
body.light-theme .ceate-acc{
  color: #000000; 
}
body.light-theme   .link{
  color: #302746;
}
body.light-theme  .link:hover{
  color: #302746; /* Change the color on hover */
text-shadow: 0px 0px 10px #291c4a, 0px 0px 20px #1e1042, 0px 0px 30px #190b3e; /* Enhanced glow */

}
body.light-theme  .input-container {/*the shade under the input*/
  background: radial-gradient(
    47.3% 73.08% at 50% 94.23%,
    #d9ce7c 5%,
    rgba(149, 50, 50, 0) 100%
  );
  border-image: radial-gradient(
      circle,
      rgba(53, 62, 62, 0.1) 0%,
      rgba(168, 109, 109, 0) 100%
    ) 1;
    
}
body.light-theme .input-container .icon {
  fill: rgb(37, 246, 190); /* Icon color */
}

body.light-theme .input-container .eye-icon{
  color: #433133;

}
body.light-theme .input-container .icon:hover {
  stroke:  #433133; /* Slightly darker color on hover */
  }






body.dark-theme {
  background-color: #000000;
  color: #ffffff;
}












body.dark-mode {
    
    background-color: #000000; 
    color: #d2d5e9; 
  }
  

  
  
  







.theme-switch {
    --toggle-size: 10px;
    /* the size is adjusted using font-size,
       this is not transform scale,
       so you can choose any size */
    --container-width: 5.625em;
    --container-height: 2.5em;
    --container-radius: 6.25em;
    /* radius 0 - minecraft mode :) */
    --container-light-bg: #3D7EAE;
    --container-night-bg: #1D1F2C;
    --circle-container-diameter: 3.375em;
    --sun-moon-diameter: 2.125em;
    --sun-bg: #ECCA2F;
    --moon-bg: #C4C9D1;
    --spot-color: #959DB1;
    --circle-container-offset: calc((var(--circle-container-diameter) - var(--container-height)) / 2 * -1);
    --stars-color: #fff;
    --clouds-color: #F3FDFF;
    --back-clouds-color: #AACADF;
    --transition: .5s cubic-bezier(0, -0.02, 0.4, 1.25);
    --circle-transition: .3s cubic-bezier(0, -0.02, 0.35, 1.17);
  }
  
  .theme-switch, .theme-switch *, .theme-switch *::before, .theme-switch *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0px;
    padding: 0;
    font-size: var(--toggle-size);
  }
  
  .theme-switch__container {
    width: var(--container-width);
    height: var(--container-height);
    background-color: var(--container-light-bg);
    border-radius: var(--container-radius);
    overflow: hidden;
    cursor: pointer;
    -webkit-box-shadow: 0em -0.062em 0.062em rgba(0, 0, 0, 0.25), 0em 0.062em 0.125em rgba(255, 255, 255, 0.94);
    box-shadow: 0em -0.062em 0.062em rgba(0, 0, 0, 0.25), 0em 0.062em 0.125em rgba(255, 255, 255, 0.94);
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
    position: relative;
  }
  
  .theme-switch__container::before {
    content: "";
    position: absolute;
    z-index: 1;
    inset: 0;
    -webkit-box-shadow: 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset, 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset;
    box-shadow: 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset, 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset;
    border-radius: var(--container-radius)
  }
  
  .theme-switch__checkbox {
    display: none;
  }
  
  .theme-switch__circle-container {
    width: var(--circle-container-diameter);
    height: var(--circle-container-diameter);
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    left: var(--circle-container-offset);
    top: var(--circle-container-offset);
    border-radius: var(--container-radius);
    -webkit-box-shadow: inset 0 0 0 3.375em rgba(255, 255, 255, 0.1), inset 0 0 0 3.375em rgba(255, 255, 255, 0.1), 0 0 0 0.625em rgba(255, 255, 255, 0.1), 0 0 0 1.25em rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 0 0 3.375em rgba(255, 255, 255, 0.1), inset 0 0 0 3.375em rgba(255, 255, 255, 0.1), 0 0 0 0.625em rgba(255, 255, 255, 0.1), 0 0 0 1.25em rgba(255, 255, 255, 0.1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: var(--circle-transition);
    -o-transition: var(--circle-transition);
    transition: var(--circle-transition);
    pointer-events: none;
  }
  
  .theme-switch__sun-moon-container {
    pointer-events: auto;
    position: relative;
    z-index: 2;
    width: var(--sun-moon-diameter);
    height: var(--sun-moon-diameter);
    margin: auto;
    border-radius: var(--container-radius);
    background-color: var(--sun-bg);
    -webkit-box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset, 0em -0.062em 0.062em 0em #a1872a inset;
    box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset, 0em -0.062em 0.062em 0em #a1872a inset;
    -webkit-filter: drop-shadow(0.062em 0.125em 0.125em rgba(0, 0, 0, 0.25)) drop-shadow(0em 0.062em 0.125em rgba(0, 0, 0, 0.25));
    filter: drop-shadow(0.062em 0.125em 0.125em rgba(0, 0, 0, 0.25)) drop-shadow(0em 0.062em 0.125em rgba(0, 0, 0, 0.25));
    overflow: hidden;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
  }
  
  .theme-switch__moon {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    width: 100%;
    height: 100%;
    background-color: var(--moon-bg);
    border-radius: inherit;
    -webkit-box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset, 0em -0.062em 0.062em 0em #969696 inset;
    box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset, 0em -0.062em 0.062em 0em #969696 inset;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
    position: relative;
  }
  
  .theme-switch__spot {
    position: absolute;
    top: 0.75em;
    left: 0.312em;
    width: 0.75em;
    height: 0.75em;
    border-radius: var(--container-radius);
    background-color: var(--spot-color);
    -webkit-box-shadow: 0em 0.0312em 0.062em rgba(0, 0, 0, 0.25) inset;
    box-shadow: 0em 0.0312em 0.062em rgba(0, 0, 0, 0.25) inset;
  }
  
  .theme-switch__spot:nth-of-type(2) {
    width: 0.375em;
    height: 0.375em;
    top: 0.937em;
    left: 1.375em;
  }
  
  .theme-switch__spot:nth-last-of-type(3) {
    width: 0.25em;
    height: 0.25em;
    top: 0.312em;
    left: 0.812em;
  }
  
  .theme-switch__clouds {
    width: 1.25em;
    height: 1.25em;
    background-color: var(--clouds-color);
    border-radius: var(--container-radius);
    position: absolute;
    bottom: -0.625em;
    left: 0.312em;
    -webkit-box-shadow: 0.937em 0.312em var(--clouds-color), -0.312em -0.312em var(--back-clouds-color), 1.437em 0.375em var(--clouds-color), 0.5em -0.125em var(--back-clouds-color), 2.187em 0 var(--clouds-color), 1.25em -0.062em var(--back-clouds-color), 2.937em 0.312em var(--clouds-color), 2em -0.312em var(--back-clouds-color), 3.625em -0.062em var(--clouds-color), 2.625em 0em var(--back-clouds-color), 4.5em -0.312em var(--clouds-color), 3.375em -0.437em var(--back-clouds-color), 4.625em -1.75em 0 0.437em var(--clouds-color), 4em -0.625em var(--back-clouds-color), 4.125em -2.125em 0 0.437em var(--back-clouds-color);
    box-shadow: 0.937em 0.312em var(--clouds-color), -0.312em -0.312em var(--back-clouds-color), 1.437em 0.375em var(--clouds-color), 0.5em -0.125em var(--back-clouds-color), 2.187em 0 var(--clouds-color), 1.25em -0.062em var(--back-clouds-color), 2.937em 0.312em var(--clouds-color), 2em -0.312em var(--back-clouds-color), 3.625em -0.062em var(--clouds-color), 2.625em 0em var(--back-clouds-color), 4.5em -0.312em var(--clouds-color), 3.375em -0.437em var(--back-clouds-color), 4.625em -1.75em 0 0.437em var(--clouds-color), 4em -0.625em var(--back-clouds-color), 4.125em -2.125em 0 0.437em var(--back-clouds-color);
    -webkit-transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25);
    -o-transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25);
    transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25);
  }
  
  .theme-switch__stars-container {
    position: absolute;
    color: var(--stars-color);
    top: -100%;
    left: 0.312em;
    width: 2.75em;
    height: auto;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
  }
  
  /* actions */
  
  .theme-switch__checkbox:checked + .theme-switch__container {
    background-color: var(--container-night-bg);
  }
  
  .theme-switch__checkbox:checked + .theme-switch__container .theme-switch__circle-container {
    left: calc(100% - var(--circle-container-offset) - var(--circle-container-diameter));
  }
  
  .theme-switch__checkbox:checked + .theme-switch__container .theme-switch__circle-container:hover {
    left: calc(100% - var(--circle-container-offset) - var(--circle-container-diameter) - 0.187em)
  }
  
  .theme-switch__circle-container:hover {
    left: calc(var(--circle-container-offset) + 0.187em);
  }
  
  .theme-switch__checkbox:checked + .theme-switch__container .theme-switch__moon {
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    transform: translate(0);
  }
  
  .theme-switch__checkbox:checked + .theme-switch__container .theme-switch__clouds {
    bottom: -4.062em;
  }
  
  .theme-switch__checkbox:checked + .theme-switch__container .theme-switch__stars-container {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  